.vh-89 {
    height: 84.389vh;
}
.flex1 {
    flex: 1;
}
.flex2 {
    flex: 2;
}
.flex3 {
    flex: 3;
}
.mobilePrompt{
    display: none;
}
.fa {
    color: red;
    font-size: 1rem;
}
@media screen and (max-width: 780px) {
    body :not(.mobilePrompt) {
        display: none;
    }
    .mobilePrompt {
        display: block;
        margin: auto;
    }
    }